<!-- Loop through the stars array and show illuminated full/half and empty stars -->
<button
  mat-icon-button
  [color]="color"
  *ngFor="let star of starsArr; index as i"
  [id]="'star_' + i"
  (click)="!presentOnly && onClick(i + 1)"
  [matTooltip]="isDisabled || presentOnly ? '' : getStarNumber(star)"
  matTooltipPosition="above"
  [class.present-only]="presentOnly"
  class="star"
  [style.color]="(rating === 1 && !presentOnly) || isDisabled ? 'inherit' : null"
>
  <mat-icon>
    {{ showStarIcon(i) }}
  </mat-icon>
</button>

<!-- Show an alternative message if the input variables are not sufficient -->
<div *ngIf="starCount == null || starCount == 0">
  Star count is <strong>required</strong> and cannot be zero
</div>
