/**
 * Reset the style of logo's anchor element
 */

.logo,
.logo__link {
  border: none;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.user-card__avatar {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-style: solid;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
  height: 52px;
  margin-right: 10px;
  width: 52px;
}

.user-card__name {
  font-size: 1.1rem;
}

.user-card__type {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

/**
 * Add margin to filter button in order to separate it from login button in small screens
 */

@media (max-width: 960px) and (min-width: 600px) {
  .filter {
    margin-right: 10px;
  }
}
