<mat-toolbar color="primary">
  <!-- Devide navbar into three flex boxes -->

  <!-- Flex box 1 -->
  <div fxFlex fxLayout fxLayoutAlign="start">
    <!-- Show small menu icon button on the left side of the navbar when the screen size is very small -->
    <div fxHide.gt-xs *ngIf="isLoggedIn">
      <!-- Toggle the menu button show/hide -->
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <!-- Site Logo -->
    <div class="logo" [fxHide.xs]="isLoggedIn">
      <!-- Go to main page when logo is clicked -->
      <a routerLink="/home" class="logo__link">AutoDining</a>
    </div>
  </div>

  <!-- Flex box 2 -->
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
    <!-- TODO: <div>Search Bar</div> -->
  </div>

  <!-- Flex box 3 (hide in small screens) -->
  <div fxFlex fxLayout fxLayoutAlign="end center">
    <!-- Devide this section of the navbar into 2 based on screen size-->

    <!-- Filter -->
    <div fxHide.gt-sm class="filter" *ngIf="isLoggedIn && url === '/home'">
      <!-- Toggle the filter bottom sheet button show/hide -->
      <button mat-button (click)="onToggleFilter()" class="mat-accent">
        <mat-icon>tune</mat-icon>
        Filter
      </button>
    </div>

    <!-- Login -->
    <div fxHide.xs *ngIf="url !== '/auth/login' && !isLoggedIn">
      <!-- open the login dialog button -->
      <button mat-flat-button (click)="onOpenLoginDialog()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>

    <!-- User Menu -->
    <div fxHide.xs *ngIf="isLoggedIn">
      <!-- Define a template local variable with as syntax to use async only once -->
      <ng-container *ngIf="user$ | async as user">
        <div [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="start center">
          <div
            mat-card-avatar
            [style.backgroundImage]="
              'url(' + (user.imageUrl | assetPathResolve: 'image':'user') + ')'
            "
            class="user-card__avatar"
          ></div>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-10px">
            <div class="user-card__name">{{ user?.name }}</div>
            <div class="user-card__type" *ngIf="user?.type !== 'regular'">
              {{ user?.type }}
            </div>
          </div>
          <mat-menu #menu="matMenu">
            <!-- Account Settings -->
            <a mat-menu-item [routerLink]="['users/' + user._id + '/edit']">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </a>

            <!-- Logout Button -->
            <button mat-menu-item (click)="onOpenLogoutDialog()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
