<mat-card class="card">
  <mat-card-title class="card__title"> Log In </mat-card-title>

  <mat-card-content>
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onLogin()" class="card__form">
      <mat-form-field class="card__email">
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
          autocomplete
          required
        />

        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <div *ngIf="email?.errors?.required">
            <span class="text-danger">*</span> email address is required
          </div>

          <div *ngIf="email?.errors?.email">
            <span class="text-danger">*</span> Please provide a valid email address
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="card__password">
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
          autocomplete
          required
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <div *ngIf="password?.invalid">
            <span class="text-danger">*</span> Please provide a valid password
          </div>
        </mat-error>
      </mat-form-field>

      <div class="card__extra">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-error *ngIf="errorMessage">
            {{ errorMessage }}
          </mat-error>

          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </div>

        <div>
          <a mat-button type="button" routerLink="/signup" color="primary" (click)="onClose()">
            No Account? <span class="text-bold">Create one here</span>
          </a>
        </div>
      </div>

      <button mat-raised-button color="primary" [disabled]="showSpinner || form.invalid || !form.dirty">
        Login
      </button>
    </form>
    <br />
  </mat-card-content>
</mat-card>
