.loading-error {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.header__search-text {
  font-size: 24px;
  font-family: 'Roboto';
  padding: 10px 0 2px 0;
}

.header__new {
  margin-right: 100px;
}

.header__new__link {
  font-size: 20px;
}
