<mat-nav-list>
  <!-- Home Route -->
  <a mat-list-item routerLink="/home" routerLinkActive="route-active" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>

  <!-- Users Route -->
  <a
    mat-list-item
    routerLink="/users"
    routerLinkActive="route-active"
    (click)="onSidenavClose()"
    *ngIf="(user$ | async)?.type === 'admin'"
  >
    <mat-icon>supervisor_account</mat-icon><span class="nav-caption">Users</span>
  </a>

  <!-- User Settings Route -->
  <a
    mat-list-item
    [routerLink]="'/users/' + (user$ | async)?._id + '/edit'"
    (click)="onSidenavClose()"
    class="settings"
  >
    <mat-icon inline-icon>settings</mat-icon><span class="nav-caption">Settings</span>
  </a>
</mat-nav-list>

<!-- Logout Button-->
<button mat-button routerLink="/settings" (click)="onLogout(); onSidenavClose()" class="logout">
  <mat-icon inline-icon>logout</mat-icon><span class="nav-caption">Logout</span>
</button>
