<!-- Wrap the app in a mat side navigation container -->
<mat-sidenav-container>
  <!-- Side Navigation Content -->
  <mat-sidenav #sidenav role="navigation">
    <!-- <app-sidenav-list -list (sidenavClose)="sidenav.close()"></app-sidenav-list> -->
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Application Header -->
    <app-header
      (sidenavToggle)="sidenav.toggle()"
      (loginPopupOpen)="loginPopup.open()"
      (filterBottomSheeToggle)="filterSheet.open()"
    ></app-header>

    <!-- Application Main Router Outlet -->
    <main>
      <router-outlet></router-outlet>
    </main>

    <!-- Application Popup Login window -->
    <app-login-window #loginPopup></app-login-window>

    <!-- Application Filter Bottom Sheet  -->
    <app-filter-bottom-sheet #filterSheet></app-filter-bottom-sheet>
  </mat-sidenav-content>
</mat-sidenav-container>
