<!-- Wrap the app in a mat side navigation container -->
<mat-sidenav-container>
  <!-- Side Navigation Content -->
  <mat-sidenav #sidenav role="navigation">
    <app-navigation-menu (sidenavClose)="sidenav.close()"></app-navigation-menu>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Application Header -->
    <app-header
      (toggleSidenav)="sidenav.toggle()"
      (openLoginDialog)="onOpenLoginDialog()"
      (openLogoutDialog)="onOpenLogoutDialog()"
      (toggleFilterBottomSheet)="filterSheet.open()"
      class="header"
    ></app-header>

    <!-- Application Main Router Outlet -->
    <main class="main">
      <router-outlet></router-outlet>
    </main>

    <!-- Application Filter Bottom Sheet  -->
    <app-filter-bottom-sheet #filterSheet></app-filter-bottom-sheet>
  </mat-sidenav-content>
</mat-sidenav-container>
