/*
 * [1] Make the height of the side navbar and the main content cover the whole page
 * [2] Hide the vertical scrollbar on overflow
 */

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  overflow: hidden;
}

/*
 * Make sure the width of the side navbar covers a minimum width
 * for a better user experience in small screens
 */

mat-sidenav {
  width: 250px;
}

/*
 * [1] Height covers the full page except for the room at the top made for the header
 * [2] Set a scrollbar on y axis
 * [3] Hide the scrollbar on x axix
 * [4] Set the position to relative for [5]
 * [5] Set a space for the header on top
 * [6] Make sure to hide main behind all other elements
 */

.main {
  height: calc(100% - 64px); // [1]
  overflow-y: scroll; // [2]
  overflow-x: hidden; // [3]
  position: relative; // [4]
  top: 64px; // [5]
  z-index: -1; // [6]
}

/*
 * Fix the header position on top
 */

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


/*
 * On small screens the height of the header shrinks to 56px
 */

@media (max-width: 600px) {
  .main {
    height: calc(100% - 56px);
    top: 56px;
  }
}
