<div fxFlex.gt-sm="80" fxLayout="row" fxFlexAlign="end end" class="item">
  <!-- Restaurant's Logo  -->
  <div>
    <div class="item__logo">
      <a [routerLink]="deleteLoading ? '/home' : '/restaurants/' + restaurant._id">
        <img
          src="{{ restaurant.imageUrl | assetPathResolve: 'image':'restaurant' }}"
          class="item__logo__img"
        />
      </a>
    </div>
  </div>

  <!-- Restaurant's Information  -->
  <div fxFlex="100" class="item-content">
    <!-- Restaurant's Name -->
    <div class="item__name-container">
      <a
        class="item__name-container__name"
        [routerLink]="deleteLoading ? '/home' : '/restaurants/' + restaurant._id"
        >{{ restaurant.name }}</a
      >
      <span class="warn" *ngIf="restaurant.awaitingResponse">
        -- Awaiting response ({{ restaurant.awaitingResponse }})
      </span>
    </div>

    <!-- Restaurant's Star Rating and Number of Reviews -->
    <div class="item__rating-container">
      <!-- Number of rating -->
      <span>{{ restaurant.rating | number: '1.1-1' }} </span>

      <!-- Number of star rating -->
      <span>
        <app-star-rating
          [rating]="restaurant.rating || 1"
          [starCount]="5"
          [color]="'accent'"
          [presentOnly]="true"
        ></app-star-rating>
      </span>

      <!-- Number of user reviews -->
      <span class="item__rating-container__reviews">
        - {{ restaurant.reviewsCount || 0 }} reviews</span
      >
    </div>

    <!-- Restaurant's Address -->
    <div class="item__address-container">{{ restaurant.address }}</div>

    <!-- Restauran'ts Status open/closed -->
    <div class="is-closed" [class.is-open]="restaurant.status === 'open'">
      {{ restaurant.status }}
    </div>

    <!-- Divider at the bottom of restaurant's item element -->
    <mat-divider class="item-divider"> </mat-divider>
  </div>

  <!-- Restaurant's Edit/Delete Options  -->
  <div *ngIf="showOptions">
    <!-- Options Menu Icon -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Options Menu -->
    <mat-menu #menu="matMenu">
      <!-- Edit -->
      <a mat-menu-item [routerLink]="'/restaurants/' + restaurant._id + '/edit'">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </a>

      <!-- Delete -->
      <button
        mat-menu-item
        (click)="onOpenDeleteDialog(restaurant.name)"
        [disabled]="deleteLoading"
      >
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>
